


    /* Asterisk wildcard selector used to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}


/* Header */
header {
    background-color: yellow;

}

/* Main */
main {
    background-color: gray

}

/* Footer */
footer {
 background-color: aquamarine;

}