
/* Added font-family styles to use in the document: Roboto Condensed, Roboto Mono, Playfair Display */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


    /* Asterisk wildcard selector used to override default styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}
    /* Generic styles */
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        color: black;
        font-family: "Roboto-mono", "Playfair Display", sans-serif;
    }



/* Header */
header {
    background-color: lightblue;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 2px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
    header a{
        text-decoration: none;
        color: inherit;
    }
    h1 {
        font-family: "Roboto Condensed", sans-serif;
        text-transform: uppercase;
        color: #4B4453;
        letter-spacing: 2px;
        text-align: center;

    }

    #menu {
        font-size: 110%;
        letter-spacing: 3px;
        list-style-type: none; /* remove bulletpoints */

    }

    menu > li {
        margin-bottom: 1rem;
    }
    
    .about {
        border-bottom: thick double whitesmoke; /*underline "About" with thick double line */
    }

    /* Navbar with dropdown toggle */
    nav {
        position: absolute;
        background-color: inherit;
        width: 100%;
        left: 0;
        padding: 0 1rem;
        box-shadow: 0 2px 2px black;
        display: none;
        top: 100%; 
        font-size: small;

    }
    #nav-toggle:checked~nav {
        display:block;
    }

    #nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        font-size: 2rem;
    }

/* Main */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
    margin-top: 25px;

}

/* Footer */
footer {
 background-color: black;
 color:white;

}